
.body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
   url("../img/2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
    height: 700px;
}
#titulo h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#menu ul{
    list-style: none;
    text-align: right;
}
#menu ul li{
    display: inline;
    margin-right: 40px;
}
#menu ul li a{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-weight: bold;
}
#log span{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
    
#log  a{
    color: white;
    text-decoration: none;
    margin-right: 20px;

}
#center{
    width: 50%;
    margin-top: 10%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}

#center h2{
    font-weight: bold;
}
#input{
    margin-right: -10px;
}
#btn{
    margin-left: -10px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.below{
    padding-top: 30px;
}
.below a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}
#navbarSupportedContent ul{
    margin-left: 20%;
}
#navbarSupportedContent ul li a{
    color: white;
    font-size: 18px !important;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbarSupportedContent ul li {
   margin-left: 10%;
}
.topico{
    height: 700px;
    margin-top: 5%;
}

#top1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/2.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     font-family: 'PT Sans', sans-serif;
     height: 350px;
     color: white;
     font-size: large;
     font-weight: bold;
}
.top2_1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/2.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     font-family: 'PT Sans', sans-serif;
     height: 170px;
     color: white;
     font-size: large;
     margin-bottom: 14px;
}
.top2_2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/2.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     font-family: 'PT Sans', sans-serif;
     height: 170px;
     color: white;
     font-size: large;
     margin-top: 14px;
}

.top2_1 h4, .top2_2 h4{
    padding-top: 10%;
}
#top1 h4{
    padding-top: 25%;
}