
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
   url("../img/2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
}
#titulo h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#menu ul{
    list-style: none;
    text-align: right;
}
#menu ul li{
    display: inline;
    margin-right: 40px;
}
#menu ul li a{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-weight: bold;
}
#log ul{
    list-style: none;
    text-align: right;
}
#log ul li {
    margin-right: 20px;
}
#log ul li a{
    margin-right: 14px;
    color: white;
    text-decoration: none;

}
#center{
    width: 50%;
    margin-top: 12%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}

#center h2{
    font-weight: bold;
}
#input{
    margin-right: -10px;
}
#btn{
    margin-left: -10px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}